<div id="layout_side_main">

  <h1>Categorie preferite</h1>
  <p>Gestisci fino a 5 categorie preferite.</p>
  <p>Le tue categorie preferite saranno utilizzate per mostrarti i risultati più vicini ai tuoi interessi.</p>

  <%unless @fav_categories.nil? || @fav_categories.count == 0  %>
    <h2>Le tue categorie preferite</h2>
    <table>
      <tbody>
        <%@fav_categories.each do |category|%>
          <tr>
            <td>
              <% the_category = Category.root.find_by_unique_key(category.category)%>
              <% breadcrumbs = the_category.breadcrumb_keys :exclude_root => true %>
              <% new_breadcrumbs = breadcrumbs.collect { |breadcrumb| Category.t_name_by_key breadcrumb } %>
              <%= new_breadcrumbs.join " > " %>
            </td>
            <td>
              <%=link_to :cancella, favourite_category_path(category), :method=>:delete%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>

  <% if !@fav_categories.nil? && @fav_categories.count < 5
    visitor = OptionsVisitor.new
    visitor.exclude @fav_category_keys unless @fav_category_keys.nil?
    %>
    <h2>Aggiungi una categoria tra le tue preferite</h2>
    <%= form_for @fav_category do |f| %>
      <%= select :favourite_category, :category, options_from_collection_for_select(Category.root.accept(visitor).options, 'id', 'value', @fav_category.category) %>
      <%= submit_tag "Aggiungi la categoria tra le tue preferite" %>
    <% end %>
  <% end %>


</div>