<div id="layout_side_main">

  <h3>Categorie preferite</h3>
  <p>Gestisci fino a 5 categorie preferite.</p>

  <% if !@fav_categories.nil? && @fav_categories.count < 5 %>
    <%= form_for @fav_category do |f| %>
      <%= select :favourite_category, :category, options_from_collection_for_select(Category.root.accept(OptionsVisitor.new).options, 'id', 'value', @fav_category.category) %>
      <%= submit_tag "Aggiungi la categoria tra le tue preferite" %>
    <% end %>
  <% end %>

  <%unless @fav_categories.nil? || @fav_categories.count == 0  %>
    <table>
      <tbody>
        <%@fav_categories.each do |category|%>
          <tr>
            <td>
              <%= Category.t_name_by_key category.category %>
            </td>
            <td>
              <%=link_to :cancella, favourite_category_path(category), :method=>:delete%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%else%>
    Non hai ancora scelto nessuna categoria preferita.
  <%end%>

</div>