<% content_for :head do %>
  <script type="text/javascript">
    
    function updateView(){

      var checkbox =  $j('#user_is_professional_true');
      var isProfessional = checkbox.attr("checked");

      if(isProfessional){
        $j('#user_vat').removeAttr("disabled");
        $j('#user_company_name').removeAttr("disabled");
        $j('#user_activity').removeAttr("disabled");
      }else{
        $j('#user_vat').attr("disabled", "disabled");
        $j('#user_company_name').attr("disabled", "disabled");
        $j('#user_activity').attr("disabled", "disabled");
      }

    }

    $j(document).ready(function(){
        var professional_yes = $j("#user_is_professional_true");
        var professional_no = $j("#user_is_professional_false");

        professional_yes.click(updateView);
        professional_no.click(updateView);

        updateView();
    });
  </script>
<% end %>

<!--
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('generic.error.form') %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->

<%= form_for(@user, :html=>{:class=>'pretty'}) do |f| %>

  <fieldset>
    <legend>1. Account</legend>
    <div class="notes">
      <h4>Nuovo Account</h4>
      <p>
        Scegli uno username e una password per accedere al sito.
      </p>
      <p class="last">
        E' importante che tu fornisca un indirizzo di posta elettronica valido e 
        funzionante a cui hai accesso poichè vi riceverai una mail
        con il codice di attivazione necessario all'attivazione
        del tuo nuovo account.
      </p>
    </div>
    <div class="required">
      <%= f.label :login, 'Login:' %>
      <%= f.text_field :login, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:login].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:password].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :password_confirmation, 'Conferma Password:' %>
      <%= f.password_field :password_confirmation, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:password_confirmation].join(". ") %></small>
      <small>Immetti nuovamente la password.</small>
    </div>

    <div class="required">
      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:email].join(". ") %></small>
    </div>

    <div class="required">
      <%= label_tag :email_confirmation, 'Conferma Email:' %>
      <%= email_field_tag :email_confirmation, nil, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:email_confirmation].join(". ") %></small>
      <small>Immetti nuovamente la mail.</small>
    </div>
  </fieldset>


  <fieldset>
    <legend>2. Dati Anagrafici</legend>
    <div class="notes">
      <h4>Dati Anagrafici</h4>
      <p class="last">
        I dati personali che ci fornirai saranno
        forniti esclusivamente agli operatori e ai
        fornitori con il quale concluderai positivamente
        una richiesta.
      </p>
    </div>

    <div class="required">
      <%= f.label :first_name, 'Nome:' %>
      <%= f.text_field :first_name, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:first_name].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :last_name, 'Cognome:' %>
      <%= f.text_field :last_name, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:last_name].join(". ") %></small>
    </div>

    <div class="required">
      <%=  f.label :address, 'Indirizzo:' %>
      <%= f.text_field :address, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @user.errors[:address].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :zip, 'CAP:' %>
      <%= f.text_field :zip, :class=>:inputText, :size=>10, :maxlength=>5 %>
      <small class="error"><%= @user.errors[:zip].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :city, 'Città:' %>
      <%= f.text_field :city, :class=>:inputText, :size=>10, :maxlength=>10 %>
      <small class="error"><%= @user.errors[:city].join(". ") %></small>
    </div>

  </fieldset>


  <fieldset>
    <legend>3. Operatore Professionale</legend>
    <div class="notes">
      <h4>Professionalità</h4>
      <p>
        Se sei un operatore professionale
        ti chiediamo alcuni dati aggiuntivi.
      </p>
      <p class="last">
        In questo caso le tue offerte saranno evidenziate
        come provenienti da un operatore professionale.
      </p>
    </div>

    <div class="required">
      <fieldset><legend>Professionale</legend>
        
        <label for="user_is_professional_true" class="labelRadio">
          <%= f.radio_button :is_professional, true, :class=>:inputRadio %>
          Professionale
        </label>
        <label for="user_is_professional_false" class="labelRadio">
          <%= f.radio_button :is_professional, false, :class=>:inputRadio %>
          Non professionale
        </label>
        <small class="error"><%= @user.errors[:is_professional].join(". ") %></small>
        
      </fieldset>
    </div>

    <div class="required">
      <%= f.label :vat, 'Partita IVA:' %>
      <%= f.text_field :vat, :class=>:inputText, :size=>10, :maxlength=>11 %>
      <small class="error"><%= @user.errors[:vat].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :company_name, 'Ragione Sociale:' %>
      <%= f.text_field :company_name, :class=>:inputText, :size=>10, :maxlength=>128 %>
      <small class="error"><%= @user.errors[:company_name].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.label :activity, 'Attività:' %>
      <%= f.text_field :activity, :class=>:inputText, :size=>10, :maxlength=>128 %>
      <small class="error"><%= @user.errors[:activity].join(". ") %></small>
    </div>

  </fieldset>

  <fieldset>
    <legend>4. Informative.</legend>

    <div class="optional">
      <%=  f.label :eula, 'Condizioni del servizio:' %>
      <%= f.check_box :eula, :class=>:checkBox %>
      Spunta per accettare le <a href="">condizioni d'uso del servizio</a>.
      <small class="error"><%= @user.errors[:eula].join(". ") %></small>
    </div>

    <div class="optional">
      <%=  f.label :privacy, 'Informativa sulla privacy:' %>
      <%= f.check_box :privacy, :class=>:checkBox %>
      Spunta per accettare <a href="">l'informativa sulla privacy</a>.
      <small class="error"><%= @user.errors[:privacy].join(". ") %></small>
    </div>

  </fieldset>

  <div class="actions">
    <%= f.submit "registrati" %>
  </div>
<% end %>






