<%= form_tag(password_reset_path, :method=>:post) do %>
  <fieldset>
    <legend>Nuova password.</legend>
    <div class="notes">
      <h4>Resetta la password</h4>
      <p class="last">
        Inserisci la nuova password.
      </p>
    </div>
    <div class="required">
      <%=label_tag :password, "password"%>
      <%=password_field_tag :password%>
      <%=label_tag :password_confirmation, "Conferma password"%>
      <%=password_field_tag :password_confirmation%>
      <%=hidden_field_tag :activation_token, @token%>
    </div>
    <input type="submit" value="Invia"/>
  </fieldset>

<% end%>
