<% @page_title = titlize("Ridefinizione password di accesso")  %>

<p>
  A seguito della conferma del codice di ridefinizione della tua password,
  ti preghiamo di fornire la tua nuova password di accesso.
</p>

<%= form_tag(password_reset_path, :method=>:post, :class=>:pretty) do %>
  <%=hidden_field_tag :activation_token, @token%>
  <fieldset>
    <legend>Ridefinizione della nuova password.</legend>
    <div class="required">
      <%=label_tag :password, "Nuova Password"%>
      <%=password_field_tag :password%>
    </div>
    <div class="required">
      <%=label_tag :password_confirmation, "Conferma password"%>
      <%=password_field_tag :password_confirmation%>
    </div>
  </fieldset>
  <input type="submit" value="Conferma Nuova Password"/>
<% end%>
