<div class="request">
  <div class="picture">
    <%= image_tag "category/#{personal_request.category_id}.jpg" %>
  </div>
  <div class="details">
    <h1>
      <%= link_to personal_request.title, request_path(personal_request)%>
    </h1>
    <h2><%= (current_user == personal_request.user) ? "è una tua richiesta" : "di #{personal_request.user.login}" %></h2>
  </div>
  <div class="proposals">
    <%= personal_request.proposals.count %> proposte<br/>

    <% best_one = personal_request.best_proposal %>
    <% unless best_one.nil? %>
      <strong><%= best_one.amount %>&nbsp;&euro; la preferita</strong><br/>
    <% end %>

    <% unless current_user == personal_request.user %>
      <%= link_to 'Invia la tua proposta', proposal_new_path(personal_request) %>
    <% end %>

  </div>
  <div class="times">
    <strong>
      <% if personal_request.is_expired %>
        <%= "scaduta da #{distance_of_time_in_words DateTime.now, personal_request.expiration}" %>
      <% else %>
        <%= "scade tra #{distance_of_time_in_words DateTime.now, personal_request.expiration}" %>
      <% end %>
    </strong>
    <%= personal_request.expiration.strftime("%d/%m/%Y %H:%M") %>
  </div>
</div>
