<div class="request">
  <h1>
    <%= site_request.title %>
    <small>
      <%= current_user == site_request.user ? "E' una tua richiesta" : site_request.user.login %><%= link_to '[dettagli]', request_detail_path(site_request)%>
    </small>
  </h1>
  <div class="request_body">

    <div class="request_picture">
      <img src="apartment.jpg" alt=""/>
    </div>

    <div class="request_highlight">

      <% if site_request.proposals.count > 0 %>
        Proposte: <strong><%= site_request.proposals.count %></strong><br/>
        <% best_one = site_request.best_proposal %>
        <% unless best_one.nil? %>
          La preferita: <strong><%= best_one.amount %>&nbsp;&euro; di <%= best_one.user.login %></strong><br/>
        <% end %>
      <% else %>
        Non ci sono ancora proposte.
      <% end %>
      <% unless current_user == site_request.user %>
        <%= link_to 'Invia la tua proposta', proposal_new_path(site_request) %>
      <% end %>
    </div>
    <%= site_request.description %>

    <table>
      <tr>
        <th>Data di creazione</th>
        <th>Data di scadenza</th>
        <th>Proposte</th>

      </tr>
      <tr>
        <td><%= site_request.updated_at.strftime("%d/%m/%Y") %></td>
        <td><%= site_request.expiration.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= site_request.proposals.count %></td>
      </tr>
    </table>

  </div>

</div>