<% content_for :head do %>
  <%= javascript_include_tag ['jquery.ui.datepicker-it'] %>
  <script type="text/javascript">

    function submitWithStoreAction(action){
      document.getElementById('store_action').value=action;
    }
    
    $j(document).ready(function(){

      // set up date picker
      $j( "#expiration_date" ).datepicker({
        dateFormat: 'dd/mm/yy',
        defaultDate: '<%=@request.expiration!=nil ? @request.expiration.strftime("%d/%m/%Y") : ''%>',
        changeMonth: true,
        changeYear: true
      })

      // set up the two submit buttons
      $j("#btn_save").click(function(){
        submitWithStoreAction('save');
      });
      $j("#btn_publish").click(function(){
        submitWithStoreAction('publish');
      });
    });
  </script>
<% end %>

<%= form_for(@request, :html=>{:class => :pretty}) do |f| %>

  <%=hidden_field_tag 'store_action'%>

  <fieldset>
    <legend>Offerta</legend>
    <div class="notes">
      <h4>Descrivi le tue necessità</h4>
      <p class="last">
        Dettaglia la tua richiesta. Più dettagli includerai più sarà
        semplice per gli operatori presentarti delle offerte in linea con la tua richieste.
      </p>
    </div>
    <div class="required">
      <%= f.label :title, 'Titolo:' %>
      <%= f.text_field :title, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @request.errors[:title].join(". ") %></small>
      <small>Il titolo permette di identificare la tua richiesta</small>
    </div>

    <div class="required">
      <%= f.label :description, 'Descrizione:' %>
      <%= f.text_area :description, :class=>:inputTextarea, :rows=>10, :cols=>21 %>
      <small class="error"><%= @request.errors[:description].join(". ") %></small>
    </div>


  </fieldset>

  <fieldset>
    <legend>Data</legend>
    <div class="notes">
      <h4>Data finale</h4>
      <p class="last">
        Data entro la quale vorresti ricevere le offerte per scegliere la migliore.
      </p>
    </div>
    <div class="required">
      <%= f.label :expiration_date, 'Data di scadenza:' %>
      <%= text_field_tag :expiration_date, @request.expiration!=nil ? @request.expiration.strftime("%d/%m/%Y") : '', :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @request.errors[:expiration].join(". ") %></small>
      <small>Data entro la quale vorresti ricevere le offerte.</small>
    </div>
  </fieldset>

  <fieldset>
    <legend>Data</legend>
    <div class="notes">
      <h4>Pubblica o salva</h4>
      <p class="last">
        Dettaglia la tua richiesta. Più dettagli includerai più sarà
        semplice per gli operatori presentarti delle offerte in linea con la tua richieste.
      </p>
    </div>
    <div class="required">
      <button id="btn_save" value="Salva">Salva</button>
      <button id="btn_publish" value="Pubblica">Pubblica</button>
    </div>
  </fieldset>

<% end %>

<%# box to chose the favourite proposal if request is active %>
<% all_proposals = @request.proposals %>
<% best = @request.best_proposal %>

<% if @request.is_active %>

  <div id="best">
    <% unless best.nil? %>
      <%= best.description %> <%= best.amount %>&nbsp;&euro; di <%= best.user.login %>
    <% else %>
      Non hai ancora indicato quali tra le offerte ricevute preferisci
    <% end %>
  </div>

  <% unless all_proposals.nil? || all_proposals.count==0
    there_is_a_best_proposal = false%>
    <%= form_tag(set_best_proposal_path, :method => :post)  do |f| %>
      <%= hidden_field_tag 'request_id', @request.id %>
      <% all_proposals.each do |proposal|
        there_is_a_best_proposal = there_is_a_best_proposal || proposal.is_best %>
        <%= radio_button_tag :proposal_id, proposal.id, proposal==best %>
        <%= proposal.description %> <%= proposal.amount %>&nbsp;&euro; di <%= proposal.user.login %><br/>
      <%end%>
      <%= radio_button_tag :proposal_id, '', !there_is_a_best_proposal %>Nessuna
      <input type="submit" value="scegli la nuova offerta preferita"/>
    <% end %>
  <% end %>

<% end %>

<% if @request.is_expired %>
  <div id="best">
    <% unless best.nil? %>
      <%= best.description %> <%= best.amount %>&nbsp;&euro; di <%= best.user.login %>
    <% else %>
      <% all_proposals.each do |proposal|
        there_is_a_best_proposal = there_is_a_best_proposal || proposal.is_best %>
        <%= radio_button_tag :proposal_id, proposal.id, proposal==best %>
        <%= proposal.description %> <%= proposal.amount %>&nbsp;&euro; di <%= proposal.user.login %><br/>
      <%end%>
      <input type="submit" value="seleziona l'offerta preferita per entrare in contatto con il proponente"/>
    <% end %>
  </div>

  <% unless best.nil? %>
    <% best_proposer = best.user %>
    <div id="contact">
      Ecco i dati per contattare l'offerente
      <table>
        <tr><td>Nominativo:</td><td><%= best_proposer.first_name %> <%= best_proposer.last_name %></td></tr>
        <tr><td>Email:</td><td><%= best_proposer.email %></td></tr>
        <tr><td>Indirizzo:</td><td><%= best_proposer.address %> <%= best_proposer.zip %> <%= best_proposer.city %></td></tr>
        <tr><td>Utente professionale:</td><td><%= best_proposer.is_professional ? "si" : "no" %></td></tr>
        <% if best_proposer.is_professional %>
          <tr><td>Partita IVA:</td><td><%= best_proposer.vat %></td></tr>
          <tr><td>Ragione sociale:</td><td><%= best_proposer.company_name %></td></tr>
          <tr><td>Attività principale:</td><td><%= best_proposer.activity %></td></tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>