<% all_proposals = @request.proposals %>
<% best = @request.best_proposal %>
<% there_are_proposals = !all_proposals.nil? and all_proposals.length >= 1 %>
<% a_best_offer_has_been_choosed = there_are_proposals && best.nil? %>

<div id="layout_side_main">

  <%= render :partial => 'shared/personal_request', :object => @request %>
  <%= render :partial => 'shared/best_proposal', :object => best %>

  <%if current_user == @request.user %>


    <% unless a_best_offer_has_been_choosed %>
      <div class="box">
        <h1>
          Elenco offerte ricevute<br/>
          <small>
            Scegli una delle offerte ricevute come migliore per entrare in contatto con il proponente.
          </small>
        </h1>
        <div class="body">
          <%= form_tag(set_best_proposal_path, :method => :post)  do |f| %>
            <%= hidden_field_tag 'request_id', @request.id %>
            <% all_proposals.each do |proposal|
              there_is_a_best_proposal = there_is_a_best_proposal || proposal.is_best %>
              <table>
                <tr>
                  <td colspan="2"><%= radio_button_tag :proposal_id, proposal.id, proposal==best %>
                    Scegli questa come offerta milgiore</td>
                </tr>
                <tr>
                  <td>Operatore</td>
                  <td><%= proposal.user.login %></td>
                </tr>
                <tr>
                  <td>Preventivo</td>
                  <td><%= proposal.amount %> &euro;</td>
                </tr>
                <tr>
                  <td>Descrizione</td>
                  <td><%= proposal.description %></td>
                </tr>
              </table>
            <%end%>
            <input type="submit" value="seleziona l'offerta preferita per entrare in contatto con il proponente"/>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if all_proposals.nil? or all_proposals.empty? %>
      <div class="box">
        <h1>Elenco offerte ricevute</h1>
        <div class="body">
          Ci dispiace, ma nessun operatore ha fatto una proposta per
          la tua richiesta entro i termini di validità.
        </div>
      </div>
    <% end %>

  <%end%>




</div>