<% content_for :head do %>
  <script type="text/javascript">
    $j(document).ready(function(){

      var btn;

      btn = $j("#registration_btn");
      btn.click(function(){
        window.location.href='<%= new_user_path %>';
      });

      btn = $j("#login_btn");
      btn.click(function(){
        window.location.href='<%= new_user_session_path %>';
      });

    });
  </script>
<% end %>

<% content_for :layout_side_two do %>
  <%= image_tag('square_banner.png') %>
  <%= image_tag('square_banner.png') %>
  <%= image_tag('square_banner.png') %>
  <%= image_tag('square_banner.png') %>
  <%= image_tag('square_banner.png') %>
<% end %>

<%= render :partial => 'shared/search_bar', :object => @search %>

<% if current_user.nil? %>
  <div class="index_box">
    <h1>Benvenuto su miServe</h1>
    <table width="100%">
      <tr>
        <td style="width: 50%">
          <p>
            <strong>Già registrato ?</strong><br/>
            Accedi con la tua username e la tua password<br/>
          </p>
          <p class="button">
            <button id="login_btn">accedi</button>
          </p>
        </td>
        <td style="width: 50%">
          <p>
            <strong>Nuovo su miServe ?</strong><br/>
            Registrati, è veloce e gratuito<br/>
          </p>
          <p class="button">
            <button id="registration_btn">registrati</button>
          </p>
        </td>
      </tr>
    </table>
  </div>
<% end %>

<div style="clear: both">

  <div class="index_box" style="float: left; width: 48%">
    <h1>Trova l'operatore migliore su MiServe</h1>
    <div>
      <p>
        <strong>Ti serve un imbianchino, un avvocato, una baby sitter ?</strong>
      </p>
      <p>
        MiServe ti permette di trovare velocemente ed efficacemente
        l'operatore più adatto alle tue esigenze.
      </p>
    </div>
  </div>

  <div class="index_box" style="float:right; width: 48%">
    <h1>Trova nuovi clienti su MiServe</h1>
    <div>
      <p>
        <strong>Sei un imbianchino, un avvocato, una baby sitter ?</strong>
      </p>
      <p>
        Vuoi incrementare il numero di clienti e il tuo giro d'affari ?
        Numerosi utenti di MiServe hanno già bisogno di te.
      </p>
    </div>
  </div>

</div>


<div style="clear: both">

<% unless @expiring_requests.empty? %>
  <div class="index_box">
    <h1>Richieste in scadenza</h1>
    <div>
      <div class="requests">
        <%@expiring_requests.each do |request|%>
          <%= render :partial => 'shared/site_request', :object => request, :locals => {:small => true} %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>

<% unless @newest_requests.empty? %>
  <div class="index_box">
    <h1>Nuove richieste</h1>
    <div>
      <div class="requests">
        <%@newest_requests.each do |request|%>
          <%= render :partial => 'shared/site_request', :object => request, :locals => {:small => true} %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>
  
</div>

