<% @page_title = titlize("trova il professionista più conveniente, amplia il numero di clienti")  %>
<% @page_description = "MiServe.eu ti aiuta a trovare l'operatore più conveniente per le tue necessità. MiServe.eu ti aiuta a trovare nuovi clienti," %>

<% content_for :head do %>
  <%= stylesheet_link_tag ['slideshow.css'] %>
  <%= javascript_include_tag ['jquery.easing.1.3.js'] %>
  <%= javascript_include_tag ['jquery.cycle.all.min.js'] %>
  <script type="text/javascript">
    $j(document).ready(function(){

      var btn;

      btn = $j("#registration_btn");
      btn.click(function(){
        window.location.href='<%= new_user_path %>';
      });

      btn = $j("#login_btn");
      btn.click(function(){
        window.location.href='<%= new_user_session_path %>';
      });

      // Start the slideshow
      $j('.slideshow').cycle({
        fx: 'scrollLeft',
        pause: 1,
        easing: 'easeInOutBack'
      });
      

    });
  </script>
<% end %>

<% content_for :layout_side_two do %>
  <%render :partial => 'shared/default_side_two' %>
<% end %>

<%= render :partial => 'shared/search_bar', :object => @search %>

<%= render :partial => 'shared/slideshow' %>
    
<% if current_user.nil? %>
  <div class="index_box">
    <h1>Benvenuto su MiServe</h1>
    <table width="100%">
      <tr>
        <td style="width: 50%">
          <p>
            <strong>Già registrato ?</strong><br/>
            Accedi con la tua username e la tua password<br/>
          </p>
          <p class="button">
            <button id="login_btn">accedi</button>
          </p>
        </td>
        <td style="width: 50%">
          <p>
            <strong>Nuovo su MiServe ?</strong><br/>
            Registrati, è veloce e gratuito<br/>
          </p>
          <p class="button">
            <button id="registration_btn">registrati</button>
          </p>
        </td>
      </tr>
    </table>
  </div>
<% end %>

  

  
  <!--
<div class="index_box" style="text-align: center; height: 400px">


  <div class="slideshow">
    <img src="http://cloud.github.com/downloads/malsup/cycle/beach1.jpg" width="200" height="200" />
    <div>
      1. blah blah blah blah blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah
    </div>
    <img src="http://cloud.github.com/downloads/malsup/cycle/beach2.jpg" width="200" height="200" />
    <div>
      2. blah blah blah blah blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah
    </div>
    <div>
      3. blah blah blah blah blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah
    </div>
    <div>
      4. blah blah blah blah blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah
    </div>
  </div>
  -->

  <!--
  <OBJECT
    classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
    WIDTH="400" HEIGHT="246" id="slidesimple" ALIGN="">
      <PARAM NAME=movie VALUE="/flash/slidesimple.swf?xmlUrl=<%=  APP_CONFIG['protocol'] + APP_CONFIG['host'] + compute_public_path( 'banner_123.xml', 'flash', 'xml', true )%>">
      <PARAM NAME=loop VALUE=false>
      <PARAM NAME=menu VALUE=false>
      <PARAM NAME=quality VALUE=high>
      <PARAM NAME=bgcolor VALUE=#ffffff>
      <EMBED
        src="/flash/slidesimple.swf?xmlUrl=<%=  APP_CONFIG['protocol'] + APP_CONFIG['host'] + compute_public_path( 'banner_123.xml', 'flash', 'xml', true )%>"
        loop="false"
        menu="false"
        quality="high"
        bgcolor="#FFFFFF"
        WIDTH="400"
        HEIGHT="246"
        TYPE="application/x-shockwave-flash"
        PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
      </EMBED>
  </OBJECT>
  
</div>
  -->


<div style="clear: both">

  <div class="index_box" style="float: left; width: 345px">
    <h1>Trova l'operatore migliore su MiServe</h1>
    <div>
      <p>
        <strong>Ti serve un imbianchino, un avvocato, una baby sitter ?</strong>
      </p>
      <p>
        MiServe ti permette di trovare velocemente ed efficacemente
        l'operatore più adatto alle tue esigenze.
      </p>
    </div>
  </div>

  <div class="index_box" style="float:right; width: 345px">
    <h1>Trova nuovi clienti su MiServe</h1>
    <div>
      <p>
        <strong>Sei un imbianchino, un avvocato, una baby sitter ?</strong>
      </p>
      <p>
        Vuoi incrementare il numero di clienti e il tuo giro d'affari ?
        Numerosi utenti di MiServe hanno già bisogno di te.
      </p>
    </div>
  </div>

</div>


<div style="clear: both">

<% unless @expiring_requests.empty? %>
  <div class="index_box" style="float: left; width: 345px">
    <h1>Richieste in scadenza</h1>
    <div>
      <div class="requests">
        <%@expiring_requests.each do |request|%>
          <%= render :partial => 'shared/site_request', :object => request, :locals => {:small => true} %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>

<% unless @newest_requests.empty? %>
  <div class="index_box" style="float: right; width: 345px">
    <h1>Nuove richieste</h1>
    <div>
      <div class="requests">
        <%@newest_requests.each do |request|%>
          <%= render :partial => 'shared/site_request', :object => request, :locals => {:small => true} %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>
  
</div>

