<p>
  Benvenuto <%= current_user.login %>,
  <br/>
  stai per sottomettere un'offerta relativa alla seguente richiesta:
  <br/>
  <%= @request.title %>
</p>
<p>
  Ti ricordiamo che sottomettendo un'offerta ti impegni a portarla a termine
  nei modi, nei tempi, al costo e alle condizioni da te descritte nel caso
  la tua offerta risulti come la migliore al termine del periodo di valutazione, come
  specificato dalle condizioni d'utilizzo del sito.
</p>

<%= form_for @proposal, :url => proposal_submission_path do |f| %>
  <%= hidden_field :request, 'id' %>
  <fieldset>
    <legend>Proposta</legend>
    <div class="required">
      <%= f.label :description, 'Descrizione:' %>
      <%= f.text_area :description, :class=>:inputTextarea, :rows=>10, :cols=>21 %>
      <small class="error"><%= @proposal.errors[:description].join(". ") %></small>
    </div>

    <div class="required">
      <%= f.text_field :amount, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <%= f.label :amount, 'Ammontare:' %>
      <small class="error"><%= @proposal.errors[:amount].join(". ") %></small>
    </div>

    <%= submit_tag "invia" %>

  </fieldset>
<% end %>

