<p>
  Benvenuto <%= current_user.login %>,
  <br/>
  stai per sottomettere un'offerta relativa alla seguente richiesta:
  <br/>
  <%= render :partial => 'shared/site_request', :object => @request %>
</p>
<p>
  Ti ricordiamo che sottomettendo un'offerta ti impegni a portarla a termine
  nei modi, nei tempi, al costo e alle condizioni da te descritte nel caso
  la tua offerta risulti come la migliore al termine del periodo di valutazione, come
  specificato dalle condizioni d'utilizzo del sito.
</p>

<%= form_for @proposal, :url => proposal_submission_path, :html => {:class => :pretty} do |f| %>
  <%= hidden_field :request, 'id' %>
  <fieldset>
    <legend>Proposta</legend>
        <div class="notes">
          <h4>Proposta</h4>
          <p>
            Utilizza questa scheda per sottoporre la tua offerta. Le regole
            del sito prescrivono che tu garantisca l'esecuzione del lavoro
            secondo quanto da te descritto.
          </p>
          <p class="last">
            Inserisci inoltre il preventivo in modo che il richiedente possa
            valutare appieno la tua proposta.
          </p>
        </div>
    <div class="required">
      <%= f.label :description, 'Descrizione:' %>
      <%= f.text_area :description, :class=>:inputTextarea, :rows=>10, :cols=>21 %>
      <small class="error"><%= @proposal.errors[:description].join(". ") %></small>
      <small>Descrivi qui i termini della tua offerta.</small>
    </div>

    <div class="required">
      <%= f.label :amount, 'Ammontare in €:' %>
      <%= f.text_field :amount, :class=>:inputText, :size=>10, :maxlength=>100 %>
      <small class="error"><%= @proposal.errors[:amount].join(". ") %></small>
      <small>Inserisci il preventivo per la tua offerta in euro.</small>
    </div>

    <div class="optional">
      <%= f.label :btn_submit, 'Invia proposta' %>
      <%= submit_tag "Invia la tua proposta", :id=>:btn_submit %>
      <small>Premi qui per inviare la tua proposta.</small>
    </div>


  </fieldset>
<% end %>

