<% @page_title = titlize("Dettagli della richiesta '#{@request.title}'")  %>
<% @page_description = "Dettagli dell'appalto '#{@request.title}' nella categoria '#{Category.t_name_by_key(@request.category_id)}'." %>

<% content_for :layout_side_two do %>
  <%= render :partial => 'shared/default_side_two' %>
<% end %>

<%# box containing the request details %>
<div class="box">
  <h1>Dettagli della richiesta</h1>
  <div class="body">
    <%= render :partial => 'shared/site_request', :object => @request %>
    <%= @request.description %>
  </div>
</div>


<%# box for placing a proposal %>
<div class="box">
  <h1>Sottoponi una proposta</h1>
  <div class="body">
    <% if @request.user != current_user %>
      <%= link_to "Nuova proposta", proposal_new_path(@request) %>
    <% else %>
      Questa è una tua richiesta! Non puoi fare offerte.
    <% end %>
  </div>
</div>


<%
best_proposal = @request.best_proposal
unloved_proposals = @request.unloved_proposals
there_are_proposals = (@request.proposals.count >= 1)
%>

<%# box for current best proposal %>
<%if there_are_proposals%>
  <%= render :partial => 'shared/best_proposal', :object => best_proposal %>
<%end%>

<%# box for unloved proposals %>
<div class="box">
  <h1>Proposte correnti</h1>
  <div class="body">
    <%if unloved_proposals.count >= 1%>
      Queste sono le altre proposte relative a quet'offerta
      <%unless (unloved_proposals.nil? || unloved_proposals.count == 0) %>
        <ul>
          <% unloved_proposals.each do |proposal| %>
              <table>
                <tr>
                  <td>Operatore</td>
                  <td><%= proposal.user.login %></td>
                </tr>
                <tr>
                  <td>Preventivo</td>
                  <td><%= proposal.amount %> &euro;</td>
                </tr>
                <tr>
                  <td>Descrizione</td>
                  <td><%= proposal.description %></td>
                </tr>
              </table>
          <% end%>
        </ul>
      <% end %>
    <% else %>
      Non ci sono altre proposte
    <%end%>
  </div>
</div>
