<div class="index_box">
  <h1>Accedi con il tuo account</h1>
  Accedi con il tuo account o <%= link_to "registrati", new_user_path %> per crearne uno nuovo.
  <%= form_for UserSession.new do |form| %>
    <%= form.text_field :login %>
    <%= form.password_field :password %>
    <%= form.submit "login" %>
  <% end%>
</div>
