<%= render :partial => 'shared/request', :object => @request %>

<%= link_to "Nuova proposta", proposal_new_path(@request) %>

<% best_proposal = @request.best_proposal %>
<% unless best_proposal.nil? %>
  <div>
     <%= best_proposal.description %> <%= best_proposal.amount %> &euro;
     <br/>
     <%= best_proposal.user.login %>
  </div>
<% end %>

<ul>
  <%@request.unloved_proposals.each do |proposal|%>
    <li>
      <%= proposal.description %>
      <%= proposal.amount %> &euro;
      <%= proposal.user.login %>
    </li>
  <%end%>
</ul>
