<!DOCTYPE html>
<html>
  <head>
    <title>Estimating</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag ['jquery-1.4.4.min'] %>
    <%= javascript_include_tag ['application-jquery'] %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>

    <div id="layout_header">
      <div id="brand">
        <h1><a href="/"><span></span>mi-serve</a></h1>
        <h2>
          <span></span>I migliori professionisti al tuo servizio
        </h2>
      </div>

      <div id="user_box">
        <a href="#">pinella</a>|<a href="#">esci</a>
        2 nuove offerte
        <a href="users/new">registrati</a>
      </div>
    </div>

    <!--
    <div id="layout_toolbar">
      <div id="tab_menu">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Come Funziona</a>
          </li>
          <li>
            <a href="#">My Box</a>
          </li>
        </ul>
      </div>
    </div>
    -->

    <%= yield %>
    
  </body>
</html>
