<!DOCTYPE html>
<html>
  <head>
    <title>Estimating</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag ['smoothness/jquery-ui-1.8.7.custom'] %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag ['jquery-1.4.4.min'] %>
    <%= javascript_include_tag ['jquery-ui-1.8.7.custom.min'] %>
    <%= javascript_include_tag ['application-jquery'] %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>

    <div id="layout_header">
      <div id="brand">
        <%= image_tag 'logo.jpg' %>
        <!--
        <h1><a href="/"><span></span>mi-serve</a></h1>
        -->
        <h2>
          <span></span>I migliori professionisti al tuo servizio
        </h2>
      </div>

      <div id="user_box">

        <% if current_user %>
          <%=current_user.first_name%> <%=current_user.last_name%> |
          <%=link_to "logout", logout_path%>
        <% else%>
          <%= form_for UserSession.new do |form| %>
            <%= form.text_field :login %>
            <%= form.password_field :password %>
            <%= form.submit "login" %>
          <% end%>
          <%= link_to "Registrati", new_user_path %><br/>
        <% end%>
      </div>
    </div>

    <div id="layout_toolbar">
      <div id="tab_menu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/how_it_works">Come Funziona</a>
          </li>
          <% if current_user %>
            <li>
              <a href="/personal_index">My Box</a>
            </li>
          <% end %>
        </ul>
      </div>

    <% if flash && flash.count > 0 %>
      <div id="layout_flash">
        <% if flash[:error] %>
          <div class="error"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:warning] %>
          <div class="warning"><%= flash[:warning] %></div>
        <% end %>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </div>
    <% end %>

    </div>

    <% if current_user %>
        <div id="layout_side_one">
            <div class="menu_tree">
                <ul>
                    <li>



			Richieste
                        <ul>
                            <li><%= link_to "nuova", new_request_path %></li>
                            <li><a class="middle" href="#">in preparazione(<%=  @draft_requests_number %>)</a></li>
                            <li><a class="middle" href="#">attive (<%=  @active_requests_number %>)</a></li>
                            <li><a class="last" href="#">scadute (<%=  @expired_requests_number %>)</a></li>
                        </ul>

                    </li>
                    <li>
                        Offerte
                        <ul>
                            <li><a class="first" href="#">attive (2)</a></li>
                            <li><a class="last" href="#">scadute (2)</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="menu_tree">
            </div>
        </div>
    <% end %>


    <div id="layout_main_content">
      <%= yield %>
    </div>


  </body>
</html>
